.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #299B01;
    color: white;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 0 15px;
}
.header__logo-image {
    width: 50px;
}
.header__sign {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 16px;
}
.header__sign-image {
    width: 32px;
}
.header__user-image {
    width: 32px;
    border-radius: 50px;
}
.header__user {
    display: flex;
    align-items: center;
    text-align: center;
}
.header__logout {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 15px 0 0;
}
.header__figure {
    margin: 0 30px;
}
@media (max-width: 650px) {
    .header__title {
        font-size: 20px;
    }
    .header__logout {
        margin: 0;
    }
    .header__figure {
        margin: 0 10px;
    }
}